{{#>page}}

<h1>{{athletes.name}}</h1>

<li><a href='/athletes/{{slug}}'>{{images}} {{age}} {{gender}} </a><img src="/images/athletes/{{slug}}.png" width="15%" /></li>
<a href='/athletes/{{athleteDetails.slug}}/schedule'>See schedule ({{athleteDetailst}})</a><br><br>

{{sportDetails.description}}

{{/page}}